# Node
node_modules/

# Environment
.env
*.env

# Mac
.DS_Store

# Logs
/logs/
backend/logs/*.log
*.log

# Build
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# IDE
.vscode/
.idea/

# Screenshots
*.png
*.jpg
*.jpeg

backend/uploads/*
backend/uploads/
*.csv
*.pem
*.env




